/* css de Cotxox*/




body{ background-color:#ccc; }



#cebecera{background-color:black; height: 50px;}





#fotoUsuario{float: left; width: 50px;}

#registrar{float: right; color:#fff; margin-right: 2%; }


#logear{float: right; color:#fff; margin-right: 2%;}








































